:root {
    --padding-: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

a:hover,
a:focus {
    color: #ec8d8d;
}

/* *************************
HEADER SECTION
**************************** */

header {
    background: #F55A5A;
    padding-block: 1.25em;
    display: flex;
    gap: 0.44em;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    width: 100%;
}

.header--title {
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: -0.075em;
    color: #fff;
    order: 1;
}

.header--logo {
    color: #fff;
    font-size: 1.25em;
    order: 0;
}

/* *******************************
TRAVEL CARDS SECTION
********************************* */
main {
    padding-left: var(--padding-);
    padding-right: var(--padding-);
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: grid;
    gap: 1.1em;
}

.travel {
    display: flex;
    flex-direction: column;
    gap: 19px;
    border-bottom: 1px solid #dddada;
    padding-bottom: 18px;
}


.travel:last-child {
    border-bottom: none;
}

.travel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.travel__item--container {
    order: 1;
}

.travel__img--container {
    order: 0;
}

.travel__link {
    color: #918E9B;
}

.travel__location {
    display: inline-block;
    margin-right: 0.75em;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.fa-location-dot {
    color: #F55A5A;
    margin-right: 0.25em;
}

.travel__title {
    font-weight: 700;
    font-size: 1.563rem;
    color: #2B283A;
    padding: .3em 0;
}

.travel__date {
    color: #2B283A;

}

.travel__text {
    margin-top: .5em;
    line-height: 1.5;
    color: #2B283A;
}

.travel__text,
.travel__date,
.travel__link,
.travel__location {
    font-size: 0.64rem;
}

@media (min-width: 550px) {
    .travel {
        flex-direction: row;
    }

    .travel__item--container {
        width: 70%;
        margin-top: 3.5em;
    }

    .travel__img--container {
        width: 27%;
        
    }

    .travel__text,
    .travel__date,
    .travel__link,
    .travel__location {
        font-size: .7rem;
    }

    .travel__title {
        font-size: 1.7rem;
    }
}

